body {
  background-color: black;
  padding: 10px;
  width: 90%;
  margin-left: auto;
	margin-right: auto;
}

header{
  /* background-color: black; */
  height: auto;
  padding: 5px;
  border-radius: 10px;
}

footer{
  background-color: rgb(232, 213, 14);
  display: flex;
  justify-content: space-around;;
  align-items: center;
  height: auto;
  padding: 5px;
  border-radius: 10px;
}

input {
  color: black;
  background-color: white ;
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
  box-shadow: 5px 5px 5px rgb(64, 64, 64);
}

p, h3 {
  /* line-height: 0.5; */
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
}

footer h3{
  text-align: center;
  font-size: 1.1vw;
  font-weight: bold;
}

.header {
  /* background-color: aqua; */
  color: white;
  text-shadow: 1px 1px 2px black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;
  position: relative;
  z-index: 10;
}

.header:hover{
  background-color: rgba(0, 0, 0, 0.7);;
}

.imagen_logo {
  height: 50px;
  width: 50px;
  margin-right: 5px;
}

.contenedor_logo{
  /* background-color: rgb(21, 0, 255); */
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contenedor_logo h3{
  /* background-color: blueviolet; */
  font-family: 'Caveat', cursive;
  font-size: 30px;
  margin-top: 20px;
  padding: 0;
}
.botonera_header{
  /* background-color: yellow; */
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.header li{
  font-family: 'Caveat', cursive;
  font-size: 2vw;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
  padding: 2px;
  margin: 7px;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* border-radius: 10px; */
  /* box-shadow: 2px 1px 0px rgb(71, 71, 71); */
}

a{
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 2px black;
}

a:hover{
  text-decoration: none;
  color: red;
}

/*//////////////////////////////////////////////////////////////////////////////////*/

.tarjeta_header{
  color: white;
  /* margin-top: -70px; */
  /* background-size: 45% 140%; */
  background-size: 500px 750px;
  background-position: 8% -70px;
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 580px;
  border-radius: 5px;
  box-shadow: 2px 2px 25px rgb(91, 91, 91), -2px -2px 15px rgb(91, 91, 91);
  animation: slideInFromRight 0.3s forwards;
}

@keyframes slideInFromRight {
  0%{transform: translateX(100%);}
  25%{transform: translateX(75%);}
  50%{transform: translateX(50%);}
  50%{transform: translateX(25%);}
  100%{transform: translateX(0);}
}

.fondo_descripcion{
  background-color: rgba(0, 0, 0, 0.6);
  height: 180px;
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: center; /* Para alinear horizontalmente */
  align-items: center; /* Para alinear verticalmente */
  /* margin-top: 75%; */
  overflow: hidden;
  position: absolute;
  bottom: 100px;
  left: 0;
}


.title{
  /* background-color: blueviolet; */
  font-family: 'Caveat', cursive;
  font-size: 3.2vw;
  text-shadow: 1px 1px 5px black;
  margin-right: 5%;
  width: 40%;
  padding: 5px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

/* .title h3{
  font-size: 4vw;
} */

.elementos_tarjeta_header h2{
  background-color: rgb(49, 49, 144);
  border-radius: 10px;
  color: white;
  font-size: 1.3vw;
  width: 60px;
  font-weight: bold;
  text-align: center;
  padding: 3px;
  margin-bottom: 15px;
}

.elementos_tarjeta_header{
  /* background-color: chartreuse; */
  font-size: 1.2vw;
  text-shadow: 1px 1px 2px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
}


/*//////////////////////////////////////////////////////////////////////////////////*/


.centrado {
  /* background-color: red; */
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
}


.buscador{
  /* background-color: rgb(232, 213, 14); */
  color: white;
  text-shadow: 5px 5px 5px white;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

.buscador_input{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

#button_buscador{
  /* background-color: red; */
  border-radius: 5px;
  border: inherit;
  width: 30px;
  height: 30px;
  padding: 0;
  box-shadow: 5px 5px 5px rgb(81, 81, 81);
}

#button_buscador img{
  /* width: 100%; */
  height: 100%;
  border-radius: 5px;
}

#button_buscador img:hover{
  background-color: red;
}

.seccion_peliculas{
  font-size: 35px;
  font-family: 'Caveat', cursive;
}

.peliculas{
  /* background-color: aqua; */
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 20px;
}

.tarjetas {
  /* background-color: rgb(235, 235, 235); */
  flex: 0 1 10em;
  background-color: rgba(40, 40, 40, 0.7);
  color: white;
  height: 550px;
  width: 290px;
  text-align: center;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
  font-size: 14px;
  box-shadow: 5px 5px 15px rgb(70, 70, 70);
}

.tarjetas:hover{
  box-shadow: 5px 5px 10px rgb(150, 150, 150), -5px -5px 10px rgb(150, 150, 150);
  background-color: rgba(250, 250, 250, 0.9);
  color: black;
}

.tarjetas:hover .rate{
  background-color: black;
  color: white  ;
} 

.nombre_rate{
  /* background-color: aqua; */
  width: 250px;
  font-weight: bold;
  font-size: 18px;
  height: 55px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.nombre_rate h3{
  /* background-color: yellow; */
  width: 210px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rate{
  background-color: grey;
  color: black;
  height: 35px;
  width: 40px;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}

.elementos_tarjeta{
  /* background-color: blueviolet; */
  height: 130px;
  text-align: left;
  margin-bottom: 5px;
}
.estreno{
  background-color: rgb(49, 49, 144);
  border-radius: 10px;
  color: white;
  width: 60px;
  font-weight: bold;
  text-align: center;
  margin: 5px;
  padding: 5px;
}
.imagenes{
  height: 330px;
  width: 100%;
  border-radius: 10px;
}

.imagenes_peliculas:hover{
	box-shadow: 5px 5px 10px rgb(42, 41, 41), -5px -5px 10px rgb(32, 32, 32);
}

.imagenes:hover{
  filter: grayscale(0%);
  animation-name: movimientologo;
	animation-duration: 0.3s;
	animation-iteration-count: 2;
	animation-direction: alternate;
}

.imagen_footer{
  height: 3vw;
  width: 3vw;
  margin: 5px;
}

.imagen_footer:hover{
  animation-name: movimientologo;
	animation-duration: 0.3s;
	animation-iteration-count: 2;
	animation-direction: alternate;
}
@keyframes movimientologo {
	25%{transform: scale(1.1);}
	50%{transform: scale(1.15);}
	75%{transform: scale(1.2);}
	100%{transform: scale(1.25);}
}